<!doctype html>
<html>
    <head>
        <title>Student Name Call</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" type="text/css"  href="{% static 'pages/style.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary navbar-expand-sm fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mr-auto" href="{% url 'home' %}">Student Name Call</a>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav ml-auto text-center">
                        {% block nav %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'courses' %}"><span class="fa fa-address-card fa-lg"></span> My Courses</a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-address-card fa-lg"></span> Settings</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><span class="fa fa-address-card fa-lg"></span> Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"><span class="fa fa-address-card fa-lg"></span> Signup</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-address-card fa-lg"></span> Logout</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            Base content
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
