{% extends 'base.html' %}
{% block content %}
<div class="row row-content">
    <div class="col-12">
        <div class="card">
            <h3 class="card-header bg-primary text-white" id="login"> Section {{course.course_id}} </h3>
            <div class="card-body">
                <div class="list-group">
                    {% for student in students %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                            {{student}}
                            </div>
                            <div class="col-6 text-right">
                                <span class="badge badge-primary badge-pill">{{student.attempts}}</span>
                                <span class="badge badge-info">{{student.assists}}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <form method="POST" >
            {% csrf_token %}
            <button type="submit"  name="select_student" class="btn btn-block btn-success"> Select Student </button>
        </form>
    </div>

    <div class="row row-content">
        <div class="col-sm-12 text-center">
            <a href="{% url 'edit_students' course_id=course.course_id %}">
                Edit Students
            </a>
        </div>
        <div class="col-sm-12 text-center">
            <a href="{% url 'courses' %}">
                Return to Courses
            </a>
        </div>
    </div>



</div>
{% endblock %}
